/* primary_color:#FF5400; - light yellow */
/* secondary_color: #5A5A5D; - black gray */
/* title_color:#131318; - like black */
/* pc = primary color */
/* sc = secondary color */
/* tc = title color */
/* tfw = title font weight */

/* google fonts css import link */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* universal css */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* font family selection include body tag */
body {
   font-family: Mulish;
   background: #fff;
   padding: 0 2vw;
}
/* common css predefined */
ul li {
   list-style: none;
}
a {
   text-decoration: none;
}
/* common color css class predefined */
.pc {
   color: #ff5400;
}

.sc {
   color: #5a5a5d;
}
.tc {
   color: #131318;
}
/* common font weight class predefined */
.tfw {
   font-weight: 800;
}
.pfw {
   font-weight: 400;
}
.fs-16 {
   font-size: 1rem;
}
.fs-20 {
   font-size: 20px;
}
.fs-24 {
   font-size: 1.5rem;
}
.fs-30 {
   font-size: 30px;
}
.mt-48 {
   margin-top: 48px;
}
.mb-24 {
   margin-bottom: 1.5rem;
}
.pm {
   margin: 20px 0 40px 0;
}
.fs-40 {
   font-size: 2.5rem;
}
.fs-16 {
   font-size: 1rem;
}
.t-center {
   text-align: center;
}
/* common button style */
.common_btn {
   color: #fff;
   border: 0;
   outline: 0;
   font-weight: 600;
   font-size: 1rem;
   padding: 14px 25px;
   border-radius: 8px;
   background: #ff5400;
}
/* header section css */
header,
main {
   max-width: 1170px;
   margin: 0 auto;
}
/* nav section css */
header nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 2rem;
   padding: 6.8vh 0;
}
/* nav logo section css */
.nav_logo {
   display: flex;
   align-items: center;
}
.nav_logo img {
   width: 48px;
   height: 56px;
}
.nav_logo h2 {
   font-size: 2.4rem;
}
/* nav navigation item css */
.nav_navigation_item i {
   display: none;
}
.nav_navigation_item ul {
   display: flex;
   gap: 40px;
}
.nav_navigation_item ul li {
   font-size: 1.2rem;
}
/* header banner section css */
header .banner {
   position: relative;
   background-color: #000;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15vh 7vw;
   border-radius: 10px;
   overflow: hidden;
}
header .banner::before {
   content: " ";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   opacity: 0.5;
   background: url(../images/header_banner.png) no-repeat center center;
   background-size: cover;
}
.banner h1 {
   color: #fff;
   font-size: 4rem;
   margin-bottom: 24px;
   z-index: 1;
}
.banner p {
   color: #fff;
   font-size: 1rem;
   margin-bottom: 40px;
   z-index: 1;
}
.banner_travel_info_container {
   max-width: 100%;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   overflow: hidden;
}
.banner_travel_info_container::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #fff;
   opacity: 0.5;
   z-index: 2;
}
.banner_travel_info input {
   outline: 0;
   border: 0;
   width: 100%;
   height: 100%;
}
.banner_travel_info i {
   margin-left: 10px;
}
.banner_travel_info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #fff;
   z-index: 3;
   margin: 10px 10px;
   width: 150px;
   padding: 10px 20px;
   border-radius: 10px;
}
.banner_travel_info button {
   background: #ff5400;
   border: 0;
   outline: 0;
}
.bg_pc {
   background-color: #ff5400;
}
/* popular tour section css */
.popular_tour {
   width: 100%;
   display: flex;
   gap: 2vw;
   margin: 100px 0;
   min-height: min-content;
}
.popular_tour_text {
   width: 50%;
}
.popular_tour_text h1 {
   font-size: 2.5rem;
}
.popular_tour_text p,
li {
   font-size: 1rem;
   margin-bottom: 1.5rem;
   font-weight: 400;
   color: #5a5a5d;
}
.popular_tour_text ul {
   margin-left: 35px;
}
.popular_tour_text ul li {
   list-style-type: disc;
}
.popular_tour_image {
   width: calc(100% - 50% - 2vw);
   max-height: 100%;
}
.popular_tour_image img {
   width: 100%;
   height: 100%;
}
/* destination section css */
.destination {
   text-align: center;
}
.destination p {
   margin: 24px 0 40px 0;
}
.destination_grid_item_container .grid_item {
   position: relative;
   z-index: 1;
}
.destination_grid_item_container .grid_item::before {
   content: " ";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 2;
   display: none;
}
.destination_grid_item_container .grid_item:hover::before {
   display: block;
   transition: 0.6s all;
}
.destination_grid_item_container .grid_item::after {
   content: "Bangladesh";
   text-align: center;
   position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 4;
   color: #fff;
   font-size: 1.5rem;
   display: none;
}
.destination_grid_item_container .grid_item:hover::after {
   display: block;
   transition: 0.6s all;
}
.maldeves {
   grid-area: maldeves;
}
.srilanka {
   grid-area: srilanka;
}
.indonesia {
   grid-area: indonesia;
}
.north_america {
   grid-area: north_america;
}
.kashmir {
   grid-area: kashmir;
}
.bangladesh {
   grid-area: bangladesh;
}
.bandhorban {
   grid-area: bandhorban;
}
.destination_grid_item_container {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   gap: 10px;
   grid-template-areas:
      "maldeves maldeves maldeves maldeves maldeves indonesia indonesia indonesia indonesia indonesia"
      "srilanka srilanka srilanka north_america north_america north_america north_america north_america kashmir kashmir"
      "bangladesh bangladesh bangladesh bangladesh bandhorban bandhorban bandhorban bandhorban bandhorban bandhorban";
}
.destination_grid_item_container img {
   width: 100%;
   height: 250px;
}
/* why choose us section */
.choose_us {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   flex-wrap: wrap;
}
.choose_us > h1,
.choose_us > p {
   text-align: center;
}
.choose_us p {
   margin-top: 1rem;
}
.choose_us_card_container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   gap: 20px;
   /* grid-template-areas: 
   "hotel " */
}
.choose_us_card {
   padding: 2.73vw 4.7vw 2.73vw 2.73vw;
   max-width: 573px;
   border-radius: 16px;
   border: 1px solid rgba(251, 181, 99, 0.2);
}
.choose_us_card h2 {
   margin-top: 32px;
   font-size: 1.5rem;
}
.choose_us_card_container > .choose_us_card:nth-child(2n + 1) {
   background: rgba(251, 181, 99, 0.05);
}
.price /* price is part of choose_us_card */ {
   background: rgba(41, 206, 246, 0.05);
}
/* deal_ discount section css  */
.deal_discount {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.deal_discount_info_container {
   display: flex;
   justify-content: end;
   align-items: center;
   width: 100%;
   height: 500px;
}
.deal_discount_first_container {
   background: url(../images/deal_discount_first.png) no-repeat center center;
}
.deal_discount_second_container {
   background: url(../images/deal_discount_second.png) no-repeat center center;
   margin: 24px 0;
   justify-content: start;
}
.deal_discount_third_container {
   background: url(../images/deal_discount_first.png) no-repeat center center;
}
.deal_discount_info {
   border-radius: 16px;
   border: 2px solid #fff;
   max-width: 580px;
   max-height: 390px;
   padding: 55px;
   background-color: #ffffffc7;
   margin-right: 56px;
}
.deal_discount_second_container .deal_discount_info {
   margin-left: 56px;
}
.deal_discount_info_stat {
   display: flex;
   justify-content: space-between;
   gap: 24px;
}
.deal_discount_time,
.deal_discount_member,
.deal_discount_country {
   display: flex;
   justify-content: space-between;
   gap: 5px;
}
.deal_discount_text {
}
.deal_discount_text h2 {
   margin: 4px 0;
}
.deal_discount_text p {
}
.deal_discount_text .deal_discount_price {
   margin: 16px 0;
}
/* perfect place section css */
.perfect_place {
   width: 100%;
   display: flex;
   gap: 2vw;
   margin: 100px 0;
   min-height: min-content;
}
.perfect_place_text {
   width: 50%;
}
.perfect_place_text h1 {
   font-size: 2.5rem;
}
.perfect_place_text p,
li {
   font-size: 1rem;
   margin-bottom: 1.5rem;
   font-weight: 400;
   color: #5a5a5d;
}
.perfect_place_text ul {
   margin-left: 35px;
}
.perfect_place_text ul li {
   list-style-type: disc;
}
.perfect_place_video {
   width: calc(100% - 50% - 2vw);
   max-height: 100%;
}
.perfect_place_video video {
   width: 100%;
   height: 100%;
}
/* newsletter section css */
.newsletter {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   max-height: min-content;
   margin-bottom: 100px;
}
.newsletter_text {
   width: 40%;
   border-radius: 16px;
   border: 1px solid #ff5400;
   padding: 40px;
}
.newsletter_text h2 {
   margin-bottom: 15px;
}
.newsletter_text .newsletter_name {
   margin: 50px 0 25px 0;
}
.newsletter_text .newsletter_email {
   margin: 0 0 25px 0;
}
.newsletter_text .newsletter_btn {
   width: 100%;
}
.newsletter_image {
   width: calc(100% - 40% - 20px);
   border-radius: 10px;
   overflow: hidden;
   position: relative;
   /* height: 340px; */
}
.newsletter_image img {
   width: 100%;
   height: 100%;
}
.newsletter_text input {
   width: 100%;
   outline: 0;
   border: 0;
   border-radius: 8px;
   background: rgba(19, 19, 24, 0.05);
   padding: 15px;
}
/* newsletter save up css */
.newsletter_save {
   border-radius: 16px;
   background: #ff5400;
   display: inline-block;
   padding: 20px;
   position: absolute;
   bottom: 45px;
   right: 12px;
   transform: rotate(-18deg);
}
.newsletter_save a {
   font-size: 30px;
   color: #fff;
}
.newsletter_save p {
   font-size: 30px;
   font-weight: 800;
   color: #fff;
}
/* footer css */
footer {
   padding: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgba(19, 19, 24, 0.05);
}
.footer_title {
   font-size: 24px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.media {
   margin: 25px 0 100px 0;
   display: flex;
   gap: 15px;
   justify-content: center;
}
.media i {
   font-size: 24px;
}
.media .copy_right {
   text-align: justify;
}
