@media screen and (max-width: 600px) {
   body {
      padding: 0 20px;
   }
   /* header nav css */
   header nav {
      flex-wrap: nowrap;
   }
   .nav_logo img {
      width: 25px;
      height: 25px;
   }
   .nav_logo h2 {
      font-size: 1rem;
   }
   .nav_navigation_item ul {
      display: none;
   }
   .nav_navigation_item i {
      display: block;
      font-size: 20px;
   }
   /* banner section css */
   .banner h1 {
      font-size: 1.4rem;
   }
   .banner_travel_info_container {
      flex-direction: column;
      padding: 0 10px;
   }
   .banner_travel_info {
      width: 100%;
      justify-content: center;
      gap: 20px;
   }
   /* popular tour section css */
   .popular_tour {
      flex-direction: column;
      gap: 2vw;
      margin: 30px 0;
   }
   .popular_tour_text,
   .popular_tour_image {
      width: 100%;
   }
   .popular_tour_text h1 {
      font-size: 1.5rem;
   }
   .popular_tour_text button {
      margin-bottom: 20px;
   }
   /* destination grid item container */
   .destination_grid_item_container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
         "maldeves"
         "indonesia"
         "srilanka"
         "north_america"
         "kashmir"
         "bangladesh"
         "bandhorban";
   }
   .destination p {
      margin: 5px 0 15px 0;
   }
   .destination h1 {
      font-size: 2rem;
   }
   /* choose us section css */
   /* .choose_us_card {
      padding: 32px 55px 32px 32px;
   } */
   .choose_us p {
      margin: 5px 0 15px 0;
   }
   .choose_us h1 {
      font-size: 2rem;
   }
   .choose_us_card_container {
      grid-template-columns: 1fr;
   }
   /* deal_discount css  */
   .deal_discount_info {
      padding: 16px;
      margin: 16px;
      /* max-width: 297px;
      max-height: 303px; */
   }
   .deal_discount_info_container {
      justify-content: center;
      align-items: end;
   }
   .deal_discount_second_container .deal_discount_info {
      margin: 16px 16px;
   }
   .deal_discount_info_stat {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .deal_discount_time,
   .deal_discount_member,
   .deal_discount_country {
      justify-content: start;
      gap: 5px;
   }
   .deal_discount_text button {
      padding: 7px 12px;
      border-radius: 4px;
      background: #ff5400;
      font-size: 15px;
   }
   .deal_discount_text h2 {
      margin: 4px 0;
   }
   .deal_discount_text p {
   }
   .deal_discount_text .deal_discount_price {
      margin: 16px 0;
   }
   /* perfect place section css */
   .perfect_place {
      flex-direction: column;
      gap: 2vw;
      margin: 30px 0;
   }
   .perfect_place_text,
   .perfect_place_video {
      width: 100%;
   }
   .perfect_place_text h1 {
      font-size: 1.5rem;
   }
   .perfect_place_text button {
      margin-bottom: 20px;
   }
   /* newsletter section css */
   .newsletter {
      flex-direction: column-reverse;
      justify-content: center;
      margin-bottom: 30px;
   }
   .newsletter_text,
   .newsletter_image {
      width: 100%;
   }

   .newsletter_save a {
      font-size: 15px;
   }
   .newsletter_save p {
      font-size: 15px;
   }
   .newsletter_save {
      border-radius: 10px;
      padding: 5px;
      bottom: 23px;
      right: 6px;
   }
   footer {
      padding: 20px;
   }
   .media {
      margin: 15px 0 30px 0;
      display: flex;
      gap: 10px;
      justify-content: center;
   }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
   .destination_grid_item_container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "maldeves indonesia"
         "srilanka north_america"
         "kashmir bangladesh"
         "bandhorban bandhorban";
   }
   /* newsletter css */
   .newsletter_text {
      width: 40%;
      border-radius: 16px;
      border: 1px solid #ff5400;
      padding: 20px;
   }
   .newsletter_text h2 {
      margin-bottom: 15px;
   }
   .newsletter_text .newsletter_name {
      margin: 30px 0 15px 0;
   }
   .newsletter_text .newsletter_email {
      margin: 0 0 15px 0;
   }
   .newsletter_save {
      border-radius: 16px;
      padding: 10px;
      bottom: 45px;
      right: 12px;
      transform: rotate(-18deg);
   }
}
